<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 驼峰法   只能是数据库是带下划线的时候可以匹配pojo不带下划线的字段 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<!-- 配置PageHelper拦截器插件 -->
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
	</plugins>
</configuration>        